
<!DOCTYPE HTML>
<html>
<head>
  <title></title>
</head>
<body>
<h1 class="h1"> Upload profile Image</h1>

<div class="row-fluid">
    <div>
        <form action="addProfileImage" method="post" enctype="multipart/form-data">
            <div class="frow" >
                <input class="finputText" type="file" name="profileImage" id="profileImage">
            </div>
            <div class="frow" >
                <div class="flabel "> Browse</div>
                <input class="btn" type="submit" value="Upload" id="uploadProfileImage">
            </div>
        </form>
    </div>
</div>

</body>
</html>