<!DOCTYPE html>
<head>
 <title> ArtistaPlus -  </title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/style.css">

    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">  </script>-->
    <script type="text/javascript" src="/javascripts/jquery-1.9.0.min.js">  </script>
<script type="text/javascript" src="/utils/api.js"></script>
<script type="text/javascript" src="/utils/utils.js"></script>
    <script type="text/javascript" src="/javascripts/domObjects.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.masonry.js"></script>
    <script type="text/javascript" src="/javascripts/ie.js"></script>

</head>
<div id="header-top-bar" class="top">
 <h1>
     <a href="/"><span>ArtistaPlus </span></a>
 </h1>
<a href="/login">
    <p class="btn" id="signInBtn"> Sign in </p>
</a>
<a href="/register">
    <p class="btn" id="header-sign-up"> Sign up </p>
</a>
    </div>

<hr class="stepsHr">

