@(myphotos: String)
<!DOCTYPE html>
<html lang="en">

<head>
    <title> ArtistaOne - professional perfomers platform - </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">  </script>
    <script type="text/javascript" src="javascripts/jquery.masonry.js"></script>
    <script type="text/javascript" src="javascripts/domObjects.js"></script>
    <script>
        $( document).ready( function(){
            //alert(" hi " + new ToolBar().render());
            $('#tool-bar').html( new ToolBar().render());
            $('#tool-bar').on( 'click','#myphotos-upload', function(){
                $body = $('body');
                $bodyWidth = $body.width();
                $bodyHeight = $body.height();
                var $dropDownContainer = $("<div>");
                var $dropDownShadow = $("<div>");
                $dropDownShadow.attr('class', "dropDownShadow");
                $dropDownContainer.attr({'id' : "dropDownContainer", 'class': "div-absolute-center" });
                $dropDownShadow.css({'position' :'absolute', 'backgroundColor' :'rgb(6, 1, 8)','height' : $bodyHeight, 'width' : $bodyWidth,'top' : 0,'opacity' : 0.5});
                $dropDownContainer.css({'position' :'absolute', 'backgroundColor' :'rgb(214, 206, 206)','height' : "400px", 'width' : $bodyWidth/2,'top' : 0});
                $body.append( $dropDownShadow );
                // var wHtml = new DropDownWindow().render();
                $dropDownContainer.html( new DropDownWindow().render() );
                $body.append( $dropDownContainer );


            });
        });
    </script>

</head>

<body>
@headerIn()
@myphotos

<div class="container-fluid">
    <div class="container tool-bar" id="tool-bar"> tool bar</div>
    <div class="row-fluid">
        @sidemenu.sidemenu()
        <div class="span11">

                <div class="container-fluid">
                    <div class="container-fluid" id="artista-photos-container">
                        <div class="artista-img">
                            <img src="/images/artista-1.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista-2.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista1.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista2.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista3.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista4.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista5.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista6.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista7.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/hassan.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista-1.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista-2.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista1.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista2.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista3.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista4.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista5.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista6.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista7.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/hassan.jpg">
                        </div>
                    </div>


                </div>
            </div>

    </div>


</div>

</body>
</html>