
<!DOCTYPE html>
<html lang="en">

<head>
    <title> ArtistaOne - professional perfomers platform - </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">  </script>
    <script type="text/javascript" src="javascripts/jquery.masonry.js"></script>
    <script type="text/javascript" src="javascripts/domObjects.js"></script>
    <script>
        $( document).ready( function(){
            alert(" hi " + new ToolBar().render());
            $('#tool-bar').html( new ToolBar().render());
        });
    </script>

</head>

<body>
@headerIn()

<div class="container-fluid">
    <div class="container tool-bar" id="tool-bar"> tool bar</div>
    <div class="row-fluid">
        <div class="span1 home-sideMenu">
             <div class="sideMenu-row"> <a href="/myprofile" >My Profile </a></div>
            <div class="sideMenu-row"> <a href="/myprofile" > My Photos </a></div>
            <div class="sideMenu-row"> <a href="/myprofile" > My Videos </a></div>
        </div>
        <div class="span11">

                <div class="container-fluid">
                    <div class="container-fluid" id="artista-photos-container">
                        <div class="artista-img">
                            <img src="/images/artista-1.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista-2.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista1.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista2.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista3.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista4.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista5.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista6.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista7.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/hassan.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista-1.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista-2.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista1.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista2.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista3.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista4.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista5.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista6.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/artista7.jpg">
                        </div>
                        <div class="artista-img">
                            <img src="/images/hassan.jpg">
                        </div>
                    </div>


                </div>
            </div>

    </div>


</div>

</body>
</html>