@(myvideos: String)
@headerIn()

<script>
        $( document).ready( function(){
            //alert(" hi " + new ToolBar().render());
            var myvideos = @Html( myvideos );
            var $myvideosContainer = $("#artista-videos-container");
           $('#tool-bar').html( new ToolBar( toolBarObjects.myvideosToolBar ).render());

            $.each( myvideos, function( i, e){
                 //console.log( JSON.stringify(e));
                var $videoContainer = $("<div>");
                var $img = $("<img>");
                   $videoContainer.attr('class','artista-video');
                   //var videoId =  e.url.substring(e.url.indexOf("embed") + 6);
                   var videoId =  getYouTubeVideoId(e.url);
                   var tumbnail = "http://img.youtube.com/vi/" + videoId + "/mqdefault.jpg";

                   $img.attr('src', tumbnail);
                   $img.attr('id', videoId);
                   $img.addClass('grayscale');
                   $img.css({ width: "100%", height  : "100%", border: 0});
                   $videoContainer.append( $img );
                   $myvideosContainer.append( $videoContainer );
             });

            $('#tool-bar').on( 'click','#myvideos-upload', function(){
                $body = $('body');
                $bodyWidth = $body.width();
                $bodyHeight = $body.height();

                var $dropDownContainer = $("<div>");
                var $dropDownShadow = $("<div>");
                $dropDownShadow.attr('class', "dropDownShadow");
                $dropDownContainer.attr({'id' : "dropDownContainer", 'class': "div-absolute-center" });
                $dropDownShadow.css({'position' :'absolute', 'backgroundColor' :'rgb(6, 1, 8)','height' : $bodyHeight, 'width' : $bodyWidth,'top' : 0,'opacity' : 0.5});
                $dropDownContainer.css({'position' :'absolute', 'backgroundColor' :'rgb(214, 206, 206)','height' : "400px", 'width' : $bodyWidth/2,'top' : "-400px"});
                $body.append( $dropDownShadow );
                // var wHtml = new DropDownWindow().render();
                $dropDownContainer.html( new DropDownWindow( forms.uploadMyvideos ).render() );
                $body.append( $dropDownContainer );
                $dropDownContainer.animate({
                    top: 0
                }, "slow");

                $dropDownContainer.on( 'click', '.close-dropDown', function(){
                    //alert( 'hi' );
                    $dropDownContainer.animate({
                        top: - $dropDownContainer.height()
                    }, "slow", function(){
                        $dropDownContainer.remove();
                        $dropDownShadow.fadeOut();
                    });
                });

            });

            $('body').on( 'click', '#video-preview .close-img-preview', function(){

                $( this).hide();
                $('#shadow-box').fadeOut().remove();
                var $videoPreview =  $("#video-preview");

                $videoPreview.animate({
                    height: "0px"
                }, 500, function(){
                    $videoPreview.html("");
                });

            });

            $('body').on( 'click', '.artista-video', function(){
                showVideoShadow();
                var $videoPreview = $("#video-preview");
                $videoPreview.html("");
                var $thisChild = $( this ).children(":first");
                // $videoPreview.append( $thisChild );
                var $iframe = $('<iframe>');
                $iframe.css({ width: '100%', height: '600px', border: 0});
                var youtubeQuery = "?wmode=opaque&rel=0&autoplay=1&controls=0&showinfo=0&enablejsapi=1&modestbranding=0";
                var videoUrl =  "//www.youtube.com/embed/" + $thisChild.attr('id') + youtubeQuery;
                $iframe.attr('src', videoUrl);
                $videoPreview.html( $iframe );
                $videoPreview.css('backgroundColor', '#222');
                $videoPreview.animate({
                    height: "600px"
                }, 'slow', function(){
                    $videoPreview.append( '<div><button class="close-icon close-img-preview " style="position: absolute;top: 0px; right: -5px"></button></div>').fadeIn();
                });
            });
        });
    </script>

<div class="container-fluid" id="content-container">
    <div class="row-fluid">
        @sidemenu.sidemenu()
        <div class="span11">
            <div id="video-preview"></div>
                <div class="container-fluid">
                    <div class="container-fluid" id="artista-videos-container">

                    </div>


                </div>
            </div>

    </div>


</div>

</body>
</html>