@(myvideos: String)
<!DOCTYPE html>
<html lang="en">

<head>
    <title> ArtistaOne - professional perfomers platform - </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">  </script>
    <script type="text/javascript" src="javascripts/jquery.masonry.js"></script>
    <script type="text/javascript" src="javascripts/domObjects.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("utils/api.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("utils/utils.js")"></script>
    <script>
        $( document).ready( function(){
            //alert(" hi " + new ToolBar().render());
            var myvideos = @Html( myvideos );
            var $myvideosContainer = $("#artista-videos-container");
           $('#tool-bar').html( new ToolBar( toolBarObjects.myvideosToolBar ).render());

            $.each( myvideos, function( i, e){
                 //console.log( JSON.stringify(e));
               var $videoContainer = $("<div>");
                var $img = $("<img>");
                   $videoContainer.attr('class','artista-video');

                   //var videoId =  e.url.substring(e.url.indexOf("embed") + 6);
                   var videoId =  getYouTubeVideoId(e.url);
                   var tumbnail = "http://img.youtube.com/vi/" + videoId + "/mqdefault.jpg";
                   $img.attr('src', tumbnail);
                   $img.attr('id', videoId);
                   $img.css({ width: "100%", height  : "100%", border: 0});
                   $videoContainer.append( $img );
                   $myvideosContainer.append( $videoContainer );
 });

            $('#tool-bar').on( 'click','#myvideos-upload', function(){
                $body = $('body');
                $bodyWidth = $body.width();
                $bodyHeight = $body.height();

                var $dropDownContainer = $("<div>");
                var $dropDownShadow = $("<div>");
                $dropDownShadow.attr('class', "dropDownShadow");
                $dropDownContainer.attr({'id' : "dropDownContainer", 'class': "div-absolute-center" });
                $dropDownShadow.css({'position' :'absolute', 'backgroundColor' :'rgb(6, 1, 8)','height' : $bodyHeight, 'width' : $bodyWidth,'top' : 0,'opacity' : 0.5});
                $dropDownContainer.css({'position' :'absolute', 'backgroundColor' :'rgb(214, 206, 206)','height' : "400px", 'width' : $bodyWidth/2,'top' : "-400px"});
                $body.append( $dropDownShadow );
                // var wHtml = new DropDownWindow().render();
                $dropDownContainer.html( new DropDownWindow( forms.uploadMyvideos ).render() );
                $body.append( $dropDownContainer );
                $dropDownContainer.animate({
                    top: 0
                }, "slow");

                $dropDownContainer.on( 'click', '.close-dropDown', function(){
                    //alert( 'hi' );
                    $dropDownContainer.animate({
                        top: - $dropDownContainer.height()
                    }, "slow", function(){
                        $dropDownContainer.remove();
                        $dropDownShadow.fadeOut();
                    });
                });

            });

            $('body').on( 'click', '#img-preview', function(){
                var $imgPreview = $( this );

                $imgPreview.animate({
                    height: "0px"
                }, 500, function(){
                    $imgPreview.html("");
                });

            });

            $('body').on( 'click', '.artista-video', function(){
                var $imgPreview = $("#img-preview");
                $imgPreview.html("");
                var $thisChild = $( this ).children(":first");
                // $imgPreview.append( $thisChild );
                var $iframe = $('<iframe>');
                $iframe.css({ width: '570px', height: '340px', border: 0});
                var videoUrl =  "//www.youtube.com/embed/" + $thisChild.attr('id') + "?rel=0";
                $iframe.attr('src', videoUrl);
                $imgPreview.html( $iframe );
                $imgPreview.css('backgroundColor', '#222');
                $imgPreview.animate({
                    height: "600px"
                }, 'slow', function(){
                    // alert( "DONE" );
                });
            });
        });
    </script>

</head>

<body>
@headerIn()
<div id="img-preview"></div>
<div class="container-fluid">
    <div class="container tool-bar" id="tool-bar"> tool bar</div>
    <div class="row-fluid">
        @sidemenu.sidemenu()
        <div class="span11">

                <div class="container-fluid">
                    <div class="container-fluid" id="artista-videos-container">

                    </div>


                </div>
            </div>

    </div>


</div>

</body>
</html>