@(profileData: String)
@if(session.get("sessionUser")) {
@headerIn()
} else {
@headerOut()
}
<script type="text/javascript">
    $(document).ready(function () {

        var profileData = @Html(profileData);
        var profileMyPhotos = profileData.myphotos;
        var profileMyVideos = profileData.myvideos;
        var $mediaContainer = $("#artista-photos-container");
        var $mediaViewer = $("#media-preview");
        var $headerBar = $('#header-top-bar');
        //console.log(profileData);
        // $("#pImage").attr('src' , profileData.systemUser.activeProfileImage.url);
        $("#pImage").attr({'src':encodeURI(profileData.systemUser.activeProfileImage.url), 'data-id':profileData.systemUser.activeProfileImage.id, 'data-type':profileData.systemUser.activeProfileImage.imageType});
        $("#profilePersonalInfo").html(new ProfilePersonalInfo(profileData.systemUser).html);

        $.each(profileMyPhotos, function (i, e) {
            console.log(JSON.stringify(e));
            var $imgContainer = $("<div>");
            var $img = $("<img>");
            $imgContainer.attr({'class':'artista-img', 'data-id':e.id});
            $img.attr({'src':e.url, 'data-id':e.id});
            $imgContainer.append($img);
            $mediaContainer.append($imgContainer);
        });

        $('#profile-image-icon-btn').on('click', function () {
            $mediaContainer.html('');
            $mediaViewer.animate({
                height:"0px",
                padding:'0px'
            }, 500, function () {
                $(this).html("");
                $(this).height('auto');
            });
            $.each(profileMyPhotos, function (i, e) {
                console.log(JSON.stringify(e));
                var $imgContainer = $("<div>");
                var $img = $("<img>");
                $imgContainer.attr({'class':'artista-img', 'data-id':e.id});
                $img.attr({'src':e.url, 'data-id':e.id});
                $imgContainer.append($img);
                $mediaContainer.append($imgContainer);
            });

        });


        $('#profile-video-icon-btn').on('click', function () {
            $mediaContainer.html('');
            $mediaViewer.animate({
                height:"0px",
                padding:'0px'
            }, 500, function () {
                $(this).html("");
                $(this).height('auto');

            });
            $.each(profileMyVideos, function (i, e) {
                //console.log( JSON.stringify(e));
                var $videoContainer = $("<div>");
                var $img = $("<img>");
                $videoContainer.attr('class', 'artista-video');
                //var videoId =  e.url.substring(e.url.indexOf("embed") + 6);
                var videoId = getYouTubeVideoId(e.url);
                var tumbnail = "http://img.youtube.com/vi/" + videoId + "/mqdefault.jpg";

                $img.attr('src', tumbnail);
                $img.attr('id', videoId);
                $img.css({ width:"100%", height:"100%", border:0});
                $videoContainer.append($img);
                $mediaContainer.append($videoContainer);
            });
        });


        $('body').on('click', '.artista-video', function () {
            showShadow();
            var $videoPreview = $("#media-preview");
            $videoPreview.html("");
            var $thisChild = $(this).children(":first");
            // $videoPreview.append( $thisChild );
            var $iframe = $('<iframe>');
            $iframe.css({ width:'100%', height:'600px', border:0});
            var youtubeQuery = "?wmode=opaque&rel=0&autoplay=1&controls=0&showinfo=0&enablejsapi=1&modestbranding=0";
            var videoUrl = "//www.youtube.com/embed/" + $thisChild.attr('id') + youtubeQuery;
            $iframe.attr('src', videoUrl);
            $videoPreview.html($iframe);
            $videoPreview.css('backgroundColor', '');
            $videoPreview.animate({
                height:"600px",
                padding:'25px 0px'
            }, 'slow', function () {
                $videoPreview.append('<div><button class="close-icon close-img-preview " style="position: absolute;top: -40px; right: -11px"></button></div>').fadeIn();
            });
        });




        $('body').on('click', '.artista-img', function () {
         //   showShadow();
            $('body').addClass('overflow-hidden');
            var $commentsContainer = $('<div>');
            $commentsContainer.attr('id', 'comments-Container');
            var $mediaFrame = $("<iframe id='media-frame' name='media-frame'>");
            $mediaFrame.css({ width:'100%', height:'100%', border:"solid 1px red", position: "absolute", top: "0", bottom : "0", 'z-index':"999"});


            var $imgWrapper = $("<div id='media-wrapper'>");
            var $bounderTopBar = $("<div class='container-fluid boundery-top-bar' > Top Bar</div>");
            var $bounderBottomBar = $("<div class='container-fluid boundery-bottom-bar' >");
            var $imgPreview = $("<div id='media-preview'>");
            $imgWrapper.append( $bounderTopBar, $imgPreview );


            $imgWrapper.css({ 'z-index' : 5, height: 'auto', display: 'block'});
            //$imgPreview.html("");
            var $thisChild = $(this).children(":first");
            var dataId = $thisChild.attr('data-id');
            var dataType = $thisChild.attr('data-type');
            var getCommentsUrl = dataType == "profileImage" ? '/getProfileImageComment/' : '/getComments/';
            // alert( getCommentsUrl );

            ajaxReturnJson(getCommentsUrl + dataId, function (data) {
                //alert ( JSON.stringify(data) );
                $.each(data, function (i, e) {
                    $commentsContainer.append(new CommentObject(e).render());

                });
            });
            var $img = $('<img>');
            $img.attr({'src':$thisChild.attr('src'), 'data-id':dataId});
            $img.css({height:'auto'});
            var $imgContainer = $('<div>');
            $imgContainer.attr('class', 'div-img-top-curves');
            $imgContainer.css({ 'text-align':'center', margin:'auto', 'background-color':'#222'});
            $imgContainer.append($img);

            $imgPreview.html($imgContainer);
            $imgPreview.append($commentsContainer);
                @if(session.get("sessionUser")) {
                $imgPreview.append(forms.submitMyphotoComment(dataId, dataType));
            } else {
                var $signInBtn = $('<div>');
                $signInBtn.attr({'class':'btn btn-primary' });
                $signInBtn.css({'position':'absolute', 'left':0, 'right':0 });
                $signInBtn.text(" Please sign in to leave a comment");
                $imgPreview.append($signInBtn);
            }

          // $imgPreview.css('backgroundColor', '');
           // $imgPreview.animate({
           //     height:"auto",
           //     padding:'0px'
            //}, 'slow', function () {
                // alert( "DONE" );
            $imgPreview.append( $bounderBottomBar );
            $imgWrapper.append('<button id="c" class="close-icon close-img-preview" style="z-index:5; position: absolute;top: -40px; right: -11px"></button>');//.fadeIn();
           // });


            $( 'body' ).append( $mediaFrame );
            $mediaFrame.contents().find('body').append( $imgWrapper );
            $mediaFrame.contents().find('body').css({ 'background-color': 'transparent'});

            var $head = $mediaFrame.contents().find("head");
            $head.append($("<link/>",{ rel: "stylesheet", href: "/bootstrap/css/bootstrap.css", type: "text/css" }));
            $head.append($("<link/>",{ rel: "stylesheet", href: "/stylesheets/style.css", type: "text/css" }));
            $head.append($("<script/>",{src: "http://code.jquery.com/jquery-latest.js", type: "text/javascript" }));
            $head.append($("<script/>",{src: "/javascripts/iframe-actions/fr-media-wrapper.js", type: "text/javascript" }));

        });



        });



</script>


<div class="container-fluid" id="content-container">
    <div class="row-fluid">
        <div class="span12">
            <div class="container" id="personalInfoContainer">
                <div class="span4">
                    <div class="artista-img" id="profileImageContainer">
                        <img id="pImage" src=""/>
                    </div>
                </div>
                <div class="span8">
                    <div id="profilePersonalInfo">
                        <div><h2 class="h"> Elhassan Rais</h2></div>
                        <div><h4 class="h"> Professional Acrobat</h4></div>
                        <div><h5 class="h"> Berkeley, CA</h5></div>
                        <div><p><strong> Profession:</strong> Human pyramids, Moroccan Tumbling, Chinese pole and Hnd
                            balancing </p></div>

                    </div>

                </div>
                <div id="profile-image-icon-btn" class="image-icon"></div>
                <div id="profile-video-icon-btn" class="video-icon"></div>
            </div>
        </div>
    </div>

</div>
<hr class="stepsHr">


<div class="container-fluid">
    <div class="container-fluid" id="artista-photos-container">

    </div>


</div>


</body>
</html>