@(profileData: String)
<!DOCTYPE html>
<html lang="en">

<head>
    <title> ArtistaOne - professional perfomers platform - </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">  </script>
    <script type="text/javascript" src="/javascripts/domObjects.js">  </script>
    <script type="text/javascript">
        $( document).ready( function(){
           var profileDate = @Html(profileData);
            //alert( profileDate );
            $("#pImage").attr('src' , "/" + profileDate.profileImage.url);
            $("#profilePersonalInfo").html( new ProfilePersonalInfo( profileDate.user).html);
        });
    </script>

</head>

<body>
<h1 class="h1"> ArtistaOne </h1> <hr class="stepsHr">
<div class="container-fluid">
    <div class="row-fluid" >
        <div class="span12">
            <div class="container" id="personalInfoContainer" >
            <div class="span4">
                <div id="profileImageContainer">
                    <img id="pImage" src=""/>
                </div>
            </div>
            <div class="span8">
                <div id="profilePersonalInfo">
                    <div> <h2 class="h"> Elhassan Rais</h2></div>
                    <div> <h4 class="h"> Professional Acrobat</h4></div>
                    <div> <h5 class="h"> Berkeley, CA</h5></div>
                    <div><p> <strong> Profession:</strong> Human pyramids, Moroccan Tumbling, Chinese pole and Hnd balancing </p></div>

                </div>

            </div>
                <div class="image-icon"></div>
                <div class="video-icon"></div>
        </div>
        </div>
    </div>
    <!--<div class="row-fluid">
        <div class="span9" id="artistaMainContent">

        </div>
        <div class="span3">
        right Side Menu
        </div>
    </div> -->


</div>

</body>
</html>